<!-- <div class="rights">
<nav class="navbar navbar-expand-lg navbar-light bg-lights">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse floats" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <button (click)="login()">Login</button>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light rights">
  <a class="navbar-brand brandlogo" href="#"><img class="logimg" src="assets/key feature bg.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">




    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="menuleft" href="#">HOME <span class="sr-only">(current)</span></a>
      <a class="menuleft" href="#">ABOUT</a>
      <a class="menuleft" href="#">FEATURES</a>
      <a class="menuleft" href="#">PRODUCTS</a>
      <a class="menuleft" href="#">IT SECURITY</a>
      <a class="menuleft" href="#">CONTACT</a>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()">Login</button>
    </form>
  </div>
</nav>
