<div class="containerx">
  <div class="row">

    <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="sec-title">
        <h1>Designed By <br> Indian Engineers</h1>

      </div>
      <p class="pclass">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>

      <div>
        <button class="more">VIEW PRODUCTS</button>
      </div>
    </div>
    <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="icon">
        <img class="bannerimg" src="assets/banner_illustration.png" />
      </div>
    </div>
  </div>
</div>
