<!--Section Title-->
<div class="sec-title">
  <h2>Products For You</h2>
<h6 class="h6">GET THE BEST PRODCUT YOU CAN'T FIND ANY WHERE</h6>
<div class="container">
<p class="sec-p">It is a long established fact that a reader will be distracted by the readable content of a page when looking
  at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
  opposed to using 'Content here, content here', making it look like readable English</p>
</div>
</div>
<div class="containerx">
<div class="row">

    <div class="step-column col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets//office-broadband.png" class="img-responsive keys" alt=""></div>
        <h4 class="step-title">Home / Office Boradband <br> Wireless With IPS</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. </p>
         <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>
          <button class="viewbutton">VIEW DETAILS</button>
      </div>
    </div>

    <div class="step-column itm-mgn-top-30s col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets/personal-firewall.png" class="keys" alt=""></div>
        <h4 class="step-title">USB <br> Personal Firewall</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. </p>
         <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>

          <button class="viewbutton">VIEW DETAILS</button>
      </div>
    </div>

    <div class="step-column itm-mgn-top-30 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets/mobile-firewall.png" class="img-responsive keys" alt=""></div>
        <h4 class="step-title">Mobile Firewall With <br> Battery Case</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. </p>
         <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>
          <button class="viewbutton">VIEW DETAILS</button>
      </div>
    </div>

  </div>
  </div>
