<!--Section Title-->
<div class="sec-title">
  <h2>Key Features</h2>

</div>
<div class="containerx">
<div class="row">

    <div class="step-column col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets/technicalsecurity.png" class="img-responsive keys" alt=""></div>
        <h4 class="step-title">Technical Security</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>
      </div>
    </div>

    <div class="step-column itm-mgn-top-30s col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets/datasecurity.png" class="img-responsive keys" alt=""></div>
        <h4 class="step-title">Data Security</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>
      </div>
    </div>

    <div class="step-column itm-mgn-top-30 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="icon"><img src="assets/identitytheft.png" class="img-responsive keys" alt=""></div>
        <h4 class="step-title">Identity Theft Prevention</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English</p>
      </div>
    </div>

  </div>
  </div>
