.sec-title{
  text-align: center;
  padding-bottom: 20px;
}
.inner-box{
/* box-shadow: 0px 6px 20px 8px rgba(0, 0, 0, 0.2); */
padding: 60px;
text-align: justify;
width: 450px;
}
.containerx{
  padding: 50px 126px 100px 149px;
}
.step-title{
  text-align: center;
}
.icon{
  text-align: center;
}
.keys{
  height: 65px;
    width: 65px;
}
.step-title{
  padding-top: 20px;
    padding-bottom: 10px;

}
.sec-title{
  /* background: url(assets/key feature bg.png); */
  padding-top: 100px;
}
.inner-box:hover{
  box-shadow: 0px 6px 20px 8px rgba(0, 0, 0, 0.2);
}
.inner-box p{
  color: #847c7c;
}
